.c-primary-header {
    background-color: #00000033;

    &__right-box {
        justify-self: end;
    }
}

.c-logo {
    text-align: center;
    align-self: center;
    &__image {
        height: 22px;
    }
}

.c-header { 
    width:100%; 
    box-sizing: border-box;
}

.c-board-header {
    &__label {
        color: white;
        font-family: sans-serif;
        font-size: 30px;
    }

    &__input { 
        width: 200px;
        background-color: rgba(255,255,255, 0.2);
    }
}