.c-page {
  background: linear-gradient(
    36deg,
    $darkslateblue 0%,
    $purple 50%,
    $palevioletred 100%
  );
  grid-template-columns: 60px auto;
  grid-template-rows: min-content auto;
  height: 100%;

  &__header {
    grid-column: 1/-1;
  } 

  &__sidebar {
    width: min-content;
  }
}
