<div class="c-primary-header">
  <div class="c-primary-header__content o-flex-container">
    <div class="left o-flex-container">
      <button class="c-icon-button">
        <i class="icon-grid"></i>
      </button>
      <button class="c-icon-button">
          <i class="icon-house-blank"></i>
      </button>
      <app-search-bar></app-search-bar>
    </div>
    
    <div class="c-logo">
      <a href="/"
        ><img
          class="c-logo__image"
          src="https://a.trellocdn.com/prgb/dist/images/header-logo-spirit.d947df93bc055849898e.gif"
      /></a>
    </div>

    <div class="right o-flex-container">
      <button class="c-icon-button">
        <i class="icon-plus"></i>
      </button>
      <button class="c-icon-button">
          <i class="icon-circle-info"></i>
      </button>
      <button class="c-icon-button">
        <i class="icon-bell"></i>
      </button>
    </div>
   
  </div>
</div>
