.c-canvas {
  background-image: url('../assets/images/shame.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 95%;
  height: 90%;
  background-position: center;
  margin: 1em;
}
