<div class="c-board-header o-flex-container">
  <button class="c-icon-button u-margin-right-10">
    <i class="icon-chevron-down"></i>
  </button>
  <span class="c-board-header__label u-margin-right-20">Project Team Spirit</span>
  <button class="c-icon-button u-text-yellow u-margin-right-10">
    <i class="icon-star"></i>
  </button>
  <div class="u-divider"></div>
  <button class="c-text-button u-margin-left-10 u-margin-right-10">
    <span>Acne, Inc.</span>
  </button>
  <div class="u-divider"></div>
  <button class="c-icon-button c-icon-button--round">
    <i class="icon-user"></i>
  </button>

  <div class="c-board-header__input">
    <button class="c-icon-button">
      <i class="icon-ellipsis"></i>
    </button>
  </div>
</div>