<div class="c-board-header o-flex-container">
  <button class="c-board-header__button u-margin-right-10">
    <i class="icon-chevron-down"></i>
  </button>
  <span class="c-board-header__label u-margin-right-20"
    >Project Team Spirit</span
  >
  <button class="c-board-header__button u-text-yellow u-margin-right-10">
    <i class="icon-star"></i>
  </button>
  <span class="u-divider"></span>
  <button
    class="c-board-header__button c-board-header__button--text u-margin-left-10 u-margin-right-10"
  >
    <span>Acne, Inc.</span>
  </button>
  <span class="u-divider"></span>
  <button class="c-board-header__button c-board-header__button--round">
    <i class="icon-user"></i>
  </button>

  <div class="c-board-header__input u-margin-left-10">
    <button class="c-icon-button">
      <i class="icon-ellipsis"></i>
    </button>
  </div>
</div>
<div class="c-canvas">

</div>
